<th:block th:fragment="model_delete">
  <div class="modal fade"  th:id="'editModall' + ${user.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel1">Delete user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body mx-auto" style="width: 100%">
          <form class="row g-3" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
            <div class="  col-md-6 col-md-offset-3 mx-auto"  >
              <label for="validationServer1" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; ">ID</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer1" type="text"  th:value="${user.getId()}" value="id" , readonly >

              <label for="validationServer2" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; ">First name</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer2" type="text" th:value="${user.getName()}" value="name" readonly   >

              <label for="validationServer3" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; margin-top: 15px ">Last name</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer3" type="text"    th:value="${user.lastName}"  value="lastname" readonly >

              <label for="validationServer4" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; margin-top: 15px">Age</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer4" type="text"  th:value="${user.age}" value="age" readonly >

              <label for="validationServer5" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; margin-top: 15px">Email</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer5" type="text"  th:value="${user.email}" value="email" readonly >

              <label for="validationServer6" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; margin-top: 15px">Password</label>
              <input class="form-control bg-body-secondary form-control-sm  text-muted field left" id="validationServer6" type="password"   th:value="${user.pass}" value="pass" readonly >

              <label for="validationServer7" class="form-label fw-bold fs-6 text-center" style="width: 100%; display: block; margin-bottom: 3px; margin-top: 15px">Role</label>
              <select th:value="${roleSet}" name="roleSet" class="form-control bg-body-secondary form-control-sm  text-muted field left" multiple id="validationServer7" style="height: 60px"  value="11" readonly>
                <option th:each="role : ${user.getRoleSet()}"
                        th:value="${role.id}"
                        th:text="${role.name}"
                        name="id
                                    "/>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger text-whit">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>